.md-footer {
  display: block !important;
  position: relative;
  z-index: 1;

  &:after {
    clear: both;
  }

  .md-nav-ctas {
    position: static;
    right: auto;
    padding-right: 0;

    .md-cta-item {
      margin-left: 0;
    }
  }
}

.md-footer:before, .md-footer:after {
  content: "";
  display: table;
}

.md-footer, .md-header {
  background: #fff;
  transition: transform .75s cubic-bezier(1, 0, 0, 1);
}

.js.md-no-scroll .md-header, .js.md-no-scroll .md-footer {
  position: relative;
}

.md-cs-accordion-campaign {
  background: 0;

  .md-cs-selector-level2 {
    .md-cs-carousel-large {
      .md-cs-item-wrap {
        height: auto;
        margin: 0;
        width: 100%;
      }
    }

    &:before {
      background: #fff;
    }
  }

  .md-cs-carousel-pagination {
    bottom: auto;
    left: 69px;
    top: 83%;

    .md-cs-pagination-label {
      margin-left: 32px;
    }

    .md-cs-pagination-list-item {
      .md-icn-exterior-front {
        margin-right: 16px;
      }
    }
  }
}

.md-logo {
  height: 58px;
  padding: 0 23px;
  position: absolute;
  z-index: 20;
  position: absolute;
  padding: 0;
  margin-top: 11px;
  left: 26px;
  vertical-align: top;
  z-index: 20;

  .md-logo-image {
    display: block;
    margin: 0;
    height: 35px;
    width: auto;
    height: 35px;
    width: auto;
  }
}

.md-logo-link {
  display: inline-block;
  position: relative;
  z-index: 3;
  transition: opacity .3s ease-out;
  display: inline-block;
  z-index: 6;
}

.no-touch .md-disabled-hover .md-logo-link, .md-disabled-persist .md-logo-link {
  pointer-events: none;
  opacity: .3;
  cursor: default;
}

.md-logo-image {
  display: block;
  margin: 13px 0;
  height: 33px;
}

.md-nav-title {
  font-size: 20px;
  height: 36px;
  margin-top: 12px;
  padding: 8px;
  position: absolute;
  right: 10px;
  top: auto;
  width: 41px;
  z-index: 13;

  &:focus {
    & + .md-nav {
      .md-nav-item {
        display: inline-block;
      }
    }
  }
}

.md-navigation [type=checkbox]:focus + .md-nav-title, .md-nav-title:focus {
  outline: 1px dotted #8a8a8a;
  overflow: hidden;
}

.md-nav {
  overflow: hidden;
  height: 0;
  margin-top: 58px;
  min-height: 58px;
  margin-right: 100px;
  overflow: hidden;
  right: 0;
  top: 0;
  padding-top: 0;
  margin-top: 0;
  border-top: 0;

  &:before {
    background-color: #fff;
    content: '';
    display: block;
    height: 58px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 14;
  }

  &:after {
    content: initial;
  }
}

.md-nav-item {
  opacity: 0;
  transition: opacity .2s;
  position: relative;
  overflow: hidden;
  z-index: 11;

  & > [type=radio] {
    position: absolute;
    left: -9999em;
  }

  [type=radio]:checked {
    & ~ .md-nav-shelf {
      display: block;
      height: auto;

      .md-nav-item {
        opacity: 1;
      }
    }
  }

  &.md-nav-item-level1 {
    &:first-child {
      .md-nav-item-link {
        border-top: 0;
      }
    }

    & > img {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      max-height: 49px;
      z-index: 14;
      display: none;
    }
  }

  [type=radio]:focus {
    &:checked {
      & ~ .md-nav-item-link {
        outline: 0;
      }
    }
  }

  &:hover {
    .md-nav-item-link {
      color: #000;
    }
  }
}

.md-nav-item-link {
  border: 0;
  text-decoration: none;
  font-size: 12px;
  font-size: .75rem;
  line-height: 1em;
  background: transparent;
  font-family: 'MINIBold', 'Georgia', serif;
  text-transform: uppercase;
  font-size: 14px;
  font-size: .8749999999999999rem;
  line-height: .85714286em;
  letter-spacing: -0.05em;
  opacity: 1;
  display: block;
  position: relative;
  text-align: left;
  padding: 18px 10px 19px 10px;
  z-index: 11;
  font-family: 'MINISansReg', Arial, sans-serif;
  letter-spacing: .05em;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:active {
    background: transparent;
  }
}

.md-nav-item-link[class^="md-icnpre-"]:before, .md-nav-item-link[class*=" md-icnpre-"]:before, .md-nav-item-link[class^="md-icnpost-"]:after, .md-nav-item-link[class*=" md-icnpost-"]:after, .md-nav-item-link[class^="md-icn-"]:after, .md-nav-item-link[class*=" md-icn-"]:after, .md-nav-item-link[class^="md-icn-"], .md-nav-item-link[class*=" md-icn-"], .md-nav-item-link [class^="md-icn-"]:after, .md-nav-item-link [class*=" md-icn-"]:after, .md-nav-item-link [class^="md-icn-"], .md-nav-item-link [class*=" md-icn-"] {
  font-size: .75em;
  padding-bottom: 1px;
}

.md-nav-item-link[class^="md-icnpost-"]:after, .md-nav-item-link[class*=" md-icnpost-"]:after {
  margin-left: 10px;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  display: block;
  padding: 0;
  margin: auto;
}

.md-nav-item-link.md-icnpost-angle-down:after, .md-nav-item-link.md-icnpost-angle-up:after, .md-nav-item-link.md-icnpost-angle-down-black:after {
  font-size: 14px;
  padding-bottom: 2px;
  vertical-align: bottom;
}

.md-nav-item-link[class^="md-icnpost-"], .md-nav-item-link[class*=" md-icnpost-"] {
  position: relative;
  text-align: left;
  padding-right: 35px;
}

.md-nav-item [type=radio]:checked ~ .md-nav-item-link, .md-nav-item-link:hover, .md-nav-item-link:focus {
  background: transparent;
  background: 0;
  text-decoration: none;
}

.md-nav-item [type=radio]:focus ~ .md-nav-item-link, .md-nav-item-link:focus {
  text-decoration: underline;
  outline: 0;
}

.md-nav-item [type=radio]:focus ~ .md-nav-item-link:before, .md-nav-item-link:focus:before, .md-nav-item [type=radio]:focus ~ .md-nav-item-link:after, .md-nav-item-link:focus:after {
  text-decoration: none;
}

.md-nav-item-level2 {
  display: block;

  .md-nav-item-link {
    background: #fff;
    color: #000;
    z-index: 12;
    font-size: 14px;
    font-size: .8749999999999999rem;
    transition: background-color .3s ease, color .3s ease;
    padding: 0 20px;
    min-height: 54px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1em;
    color: #fff;
    height: 54px;

    &:active {
      color: #fff;
    }
  }

  &.md-nav-item-current {
    .md-nav-item-link {
      &:before {
        bottom: 0;
        height: 100%;
        left: 0;
        top: 0;
        width: 2px;
        bottom: -2px;
      }
    }
  }

  &:first-child {
    .md-nav-item-link {
      border-top-color: #000;
    }
  }
}

.md-nav-item-level2 .md-nav-item-link:hover, .md-nav-item-level2 .md-nav-item-link:focus {
  color: #8a8a8a;
}

.md-nav-item-current {
  & > .md-nav-item-link {
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      display: block;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: #000;
    }
  }
}

.md-pageintro {
  position: relative;
  margin: 0 auto 0;
  padding: 20px 0 0;
  overflow: hidden;
}

.md-pageintro-border-panel {
  padding: 10px;
}

.md-ss-dropdown {
  .md-form-ss-error {
    font-family: 'MINISansReg', Arial, sans-serif;
    font-size: 14px;
    font-size: .8749999999999999rem;
    line-height: 1.57142857em;
    color: #c00;
    display: block;
    margin: 5px 0 0;
  }

  .ng-hide {
    display: none;
  }
}

.md-ss-default {
  .md-ss-component-title {
    display: none;
  }

  .md-ss-model-range {
    &:after {
      clear: both;
    }

    &:hover {
      .md-ss-range-item-highlight {
        transition: opacity 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        opacity: .5;

        &:hover {
          transition: opacity 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
          border: solid 1px #666;
          opacity: 1;
        }
      }
    }
  }

  .md-ss-range-list {
    margin: 0 0 -5px 0;
    margin-left: -5px;
    padding: 0;
    overflow: hidden;
  }

  .md-ss-range-item {
    width: calc(50% - 5px);
    margin-left: 5px;
    border-top: 0;
    float: left;
    margin-bottom: 5px;
    position: relative;
    width: calc(33.333333333333336% - 5px);
    margin-left: 5px;

    &.md-ss-range-item-highlight {
      border: solid 1px #333;
      margin-top: 5px;
    }
  }

  .md-ss-range-link {
    background-color: #000;
    cursor: pointer;
    display: block;
    text-decoration: none;
  }

  .md-ss-range-info {
    left: 0;
    line-height: .7;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
  }

  .md-ss-range-description {
    color: #fff;
    font-family: 'MINISansReg', Arial, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .md-ss-range-price {
    color: #fff;
    font-family: 'MINISansReg', Arial, sans-serif;
    display: block;
    margin-bottom: 5px;
  }

  .md-ss-range-image-wrapper {
    padding-top: 48px;
  }

  .md-ss-model-range-models {
    display: none;
  }

  .md-ss-mrm-teaser {
    color: #a7a7a7;
  }

  .md-custom-layer {
    .md-icn-close {
      color: #fff;
    }
  }

  .md-favourite-model {
    position: absolute;
    right: 9px;
    top: 9px;
  }

  &.md-ss-strip {
    .md-ss-model-range {
      border-top: 1px solid #d7d8d9;
      flex-direction: row;

      .md-ss-range-list {
        background-color: #f5f6f7;
        display: flex;
        flex-direction: row;
        overflow: visible;
        flex-flow: row wrap;
        align-items: stretch !important;
        width: 100%;
        height: auto;

        .md-ss-range-item {
          background: #f5f6f7;
          margin-bottom: 0;
          margin-right: 0;
          width: 100%;
          height: auto;
          display: inline-flex;
          flex-direction: row;
          flex: 0 0 100%;
          min-height: 270px;
          width: unset;
          min-height: 132px;
          margin-left: 0;

          .md-ss-range-item-actions {
            height: 70px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 165px;
            visibility: hidden;
            opacity: 0;
            box-shadow: 0 0 8px 2px #a5a5a5;
            height: 115px;

            .md-ss-range-item-actions-list {
              min-height: 85px;
              background: #fff;
              height: 100%;

              li {
                margin-top: 15px;
                text-align: center;

                .md-action-link {
                  font-size: 14px;
                  font-size: .8749999999999999rem;
                  text-decoration: none;
                }
              }
            }

            .md-ss-shadow-hide-bottom {
              padding: 4px;
              position: relative;
              background: #fff;
            }
          }

          .md-ss-range-link {
            display: inline-flex;
            background: #f5f6f7;
            flex-flow: row;
            flex: 0 0 100%;
            min-height: 150px;
            background-color: #fff;
            border-bottom: 1px solid #000;
            align-items: center;
            min-height: 132px;
            background: #f5f6f7;
            background-color: #f5f6f7;
            overflow: hidden;
            flex-grow: 1;
            align-items: stretch;
            background: #f5f6f7;
            border-bottom: 1px solid #000;
            display: -ms-inline-flexbox;
            display: flex;
            flex-flow: column nowrap;
            border-bottom: 0;

            .md-ss-range-image-wrapper {
              display: inline-flex;
              flex-flow: column;
              flex: 0 0 65%;
              padding-top: 0;
              align-items: stretch;

              .md-image-item {
                &.md-imgsrcselect {
                  display: block;
                }
              }

              .md-imgsrcselect {
                display: flex;
                flex: 0 0 100%;
                align-items: stretch;

                .md-image {
                  margin: auto;
                  flex: 0 0 100%;
                  flex-direction: column;
                  align-items: stretch;

                  img {
                    height: auto;
                    width: 100%;
                  }
                }
              }
            }

            .md-ss-range-info {
              position: static;
              display: flex;
              flex-flow: column wrap;
              align-items: stretch;
              min-height: 60px;
              background: #f5f6f7;
              background-color: #f5f6f7;
              min-width: 1px;

              .md-ss-range-description {
                display: block;
                flex: none;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1rem;
                padding-top: 3px;
                color: #000;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }
}

.md-ss-default .md-ss-model-range:before, .md-ss-default .md-ss-model-range:after {
  content: "";
  display: table;
}

.md-ss-default .md-ss-range-description, .md-ss-default .md-ss-range-price {
  font-family: 'MINIBold', 'Georgia', serif;
  text-transform: uppercase;
  font-size: 10px;
  font-size: .625rem;
  line-height: 1em;
}

@media {
  only {
    screen {
      and {
      (min-width {
        &: {
          401px) {
          .md-parallax-module-pageSplitImageGallery .md-plx-page-split-image .md-plx-label-text {
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            font-family: 'MINIBold', 'Georgia', serif;
            text-transform: uppercase;
            display: block;
            color: #000;
            font-family: 'MINISansReg', Arial, sans-serif;
            font-size: 12px;
            font-size: .75rem;
            line-height: 1em;
            margin-bottom: 10px;
            display: inline;
          }
        }
        }
      }
      }
    }
  }
  .md-parallax-module-pageSplitImageGallery .md-plx-page-split-image .md-plx-label-text span, .md-parallax-module-pageSplitImageGallery .md-plx-page-split-image .md-plx-label-text p {
    display: block;
    padding-top: 10px;
  }
  .md-shelf-component {
    .md-cts-form-item {
      max-width: 540px;
    }
  }
  .md-cts-form-input, .md-cts-form-select {
    display: inline-block;
    max-width: 380px;
  }

  .md-explore-story-wrap {
    height: 45.9vw;
  }
  .md-explore-story-heading {
    font-size: 6vw;
  }
  .md-explore-story-subheading {
    font-size: 3.45vw;
  }
  .md-ss-configurator .md-ss-range-list, .md-ss-hmc .md-ss-range-list {
    margin-left: -10px;
    padding: 0;
  }
  .md-ss-configurator .md-ss-default .md-ss-range-item, .md-ss-hmc .md-ss-default .md-ss-range-item {
    width: calc(33.333333333333336% - 10px);
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .md-equippacks-row-name {
    font-family: 'MINIBold', 'Georgia', serif;
    text-transform: uppercase;
    font-size: 14px;
    font-size: .8749999999999999rem;
    line-height: 1em;
  }
}

{
@media {
  only {
    screen {
      and {
      (min-width {
        &: {
          768px) {
          .md-form-gcdm.md-form-gcdm-login .md-form-gcdm-tconf {
            max-width: 615px;
          }
          925px) {
          .md-ss-default.md-ss-strip .md-ss-model-range .md-ss-range-list .md-ss-range-item: hover {
            z-index: 10;
            box-shadow: 0 0 8px 2px #a5a5a5;
            background: #fff;
          }
          1024px) {
          .md-ss-default.md-ss-strip .md-ss-model-range .md-ss-range-list .md-ss-range-item {
            flex: 0 0 24.9%;
          }
        }
        }
        }
        }
      }
      }
    }

    .md-ctas {
      padding-right: 20px;

      & > * {
        display: block;
        float: left;
        width: auto;
      }
    }

    .md-ctas > :first-child:nth-last-child(2n), .md-ctas > :first-child:nth-last-child(2n) ~ *, .md-ctas > :first-child:nth-last-child(2n) ~ :nth-child(2n) {
      border: 0;
      float: left;
      width: auto;
    }

    .md-nav-ctas {
      overflow: visible;
      position: absolute;
      background: transparent;
      right: 0;
      top: 9px;
      z-index: 20;

      .md-ctas {
        padding-right: 0;
      }

      .md-nav-share {
        display: block;

        .md-nav-item-link {
          background: #000;
          color: #fff;
        }
      }

      .md-component {
        float: right;
      }

      .md-nav-item-link {
        width: 100%;
        display: block;
        line-height: 11px;
        padding: 12px 12px 9px;
        vertical-align: middle;
        font-size: 12px;
        font-size: .75rem;
        background: #000;
        border: 0;
        color: #fff;
        margin-bottom: 0;
        margin-left: 0;
        text-shadow: none;

        &:active {
          background: #000;
          color: rgba(255, 255, 255, 0.3);
        }

        &.md-site-wide-share-action {
          font-size: 18px;
          font-size: 1.1250000000000002rem;
          line-height: 32px;
          padding: 0 9px;
        }
      }

      .md-icn-share {
        vertical-align: baseline;
      }

      .md-icnpost-angle-right {
        &:after {
          content: '';
        }
      }

      .md-cta-item {
        margin-left: 0;
        margin-left: 0;

        .md-nav-item-link {
          border: solid #fff;
          border-width: 0 0 1px 1px;

          &:active {
            background: #fff;
            color: rgba(255, 255, 255, 0.3);
          }
        }

        &:last-child {
          .md-nav-item-link {
            border-right-width: 1px;
          }
        }
      }
    }

    .md-nav-ctas .md-nav-item-link:hover, .md-nav-ctas .md-nav-item-link:focus {
      background: #000;
      color: #fff;
    }

    .md-nav-ctas .md-nav-item-link.md-site-wide-share-action:hover, .md-nav-ctas .md-nav-item-link.md-site-wide-share-action:hover .md-site-wide-share-action {
      background: #fff;
      color: #000;
    }

    .md-nav-ctas .md-cta-item .md-nav-item-link:hover, .md-nav-ctas .md-cta-item .md-nav-item-link:focus {
      background: #fff;
      color: #000;
    }

    .md-fix-ctas {
      .md-nav-ctas {
        .md-cta-item {
          .md-nav-item-link {
            border-top-width: 1px;
          }
        }
      }
    }

    .md-nav-ctas-wrapper {
      display: block;
    }

    .md-navigation-ctas {
      min-height: auto;
    }

    .md-ctas.md-ctas-hide .md-cta-item, .md-js-toggle-ctas.md-ctas-hide, .md-hidden-cta, .md-hidden-cta-newhome {
      display: none;
    }

    .md-ctas.md-ctas-hide .md-cta-item.md-nav-share, .md-js-toggle-ctas.md-ctas-hide.md-nav-share, .md-hidden-cta.md-nav-share, .md-hidden-cta-newhome.md-nav-share {
      display: block;
    }

    .md-footer-ctas {
      overflow: hidden;
      margin: 1px 0 20px 0;

      &.md-component {
        float: none;
      }

      .md-ctas {
        overflow: hidden;
        padding-right: 0;

        .md-cta-item {
          margin-left: 0;

          &:first-child {
            &:nth-last-child(1) {
              width: 100%;
            }
          }

          .md-cta {
            float: none;
          }

          .md-nav-item-link {
            font-size: 14px;
            font-size: .8749999999999999rem;
            line-height: 1.57142857em;
            padding: 14px 12px 10px;
            background: #000;
            color: #fff;
          }
        }
      }
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(2), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(2) ~ .md-cta-item {
      width: 50%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(3), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(3) ~ .md-cta-item {
      width: 33.33%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(4), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(4) ~ .md-cta-item {
      width: 25%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(5), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(5) ~ .md-cta-item {
      width: 20%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(6), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(6) ~ .md-cta-item {
      width: 16.66%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(7), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(7) ~ .md-cta-item {
      width: 14%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(8), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(8) ~ .md-cta-item {
      width: 12%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(9), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(9) ~ .md-cta-item {
      width: 12%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(10), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(10) ~ .md-cta-item {
      width: 12%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(11), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(11) ~ .md-cta-item {
      width: 12%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(12), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(12) ~ .md-cta-item {
      width: 12%;
    }

    .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(13), .md-footer-ctas .md-ctas .md-cta-item:first-child:nth-last-child(13) ~ .md-cta-item {
      width: 12%;
    }

    .md-newhome-page {
      .md-nav-ctas {
        top: 650px;

        .md-cta-item {
          margin-left: 5px;
        }
      }

      .newhomepage {
        &.md-cs-accordion-campaign {
          .md-cs-carousel-pagination {
            text-align: center;
            padding-right: 0;
            bottom: 22%;
            right: 25%;
            left: 25%;
            width: 50%;
            position: absolute;
            float: none;
          }
        }
      }
    }

    .js {
      .md-prodinfo-model {
        &.md-has-compare {
          .md-prodinfo-summary {
            &:after {
              border-radius: 26px;
              font-family: 'MINISansReg', Arial, sans-serif;
              font-size: 12px;
              font-size: .75rem;
              line-height: 1em;
              content: attr(data-prodinfo-vs);
              width: 26px;
              height: 26px;
              line-height: 26px;
              text-align: center;
              border: 3px solid #000;
              position: absolute;
              top: -13px;
              right: -13px;
            }
          }
        }
      }
    }

    .md-prodinfo-range span, .md-prodinfo-desc span, .md-prodinfo-price span, .md-prodinfo-range p, .md-prodinfo-desc p, .md-prodinfo-price p {
      display: block;
      padding-top: 10px;
    }

    .md-prodinfo-row {
      th {
        padding-right: 50px;
        max-width: none;
      }

      td {
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-family: 'MINISansReg', Arial, sans-serif;
        color: #000;
        font-size: 14px;
        font-size: .8749999999999999rem;
        line-height: 1.57142857em;
        letter-spacing: normal;
        width: 180px;

        &.md-is-compare {
          padding: 0;
          display: table-cell;

          .md-ajaxcarousel {
            height: auto;
          }

          .md-ajaxcarousel-item {
            vertical-align: middle;
            padding: 15px 20px;
          }
        }
      }

      img {
        margin: 0 0 10px;
        max-width: 160px;
      }

      .md-prodinfo-center {
        width: 180px;
      }
    }

    .md-dimensions-a img, .md-dimensions-b img {
      width: 100%;
    }

    .md-page-home {
      .md-stickynavigation {
        visibility: hidden;
        height: 0;

        &.md-sn-visible {
          visibility: visible;
          height: auto;
        }
      }
    }

    .md-stickynavigation ul > :first-child:nth-last-child(2n), .md-stickynavigation ul > :first-child:nth-last-child(2n) ~ *, .md-stickynavigation ul > :first-child:nth-last-child(2n) ~ :nth-child(2n) {
      width: auto;
    }

    .md-stickynavigation {
      .md-toggle-ctas {
        display: block;
        opacity: 0;
      }

      .md-nav-item-link {
        height: 49px;
        overflow: hidden;
      }
    }

    .md-sticky-show {
      .md-stickynavigation {
        ul {
          padding: 0;
          position: relative;
        }
      }
    }

    .md-page-carousel > .md-component, .md-page-carousel-item > .md-component {
      margin-bottom: 0;
    }

    .md-page-carousel-items {
      .md-4lnav-is-fixed {
        .md-4lnav-wrapper {
          top: 0;
        }
      }
    }

    .md-page-carousel {
      .md-page-carousel-visuals-top {
        .md-page-carousel-item {
          & > .md-component {
            margin-bottom: 0;
          }
        }
      }
    }

    .md-campaign-teaser {
      .md-ct-foreground-image {
        width: 66%;
      }
    }

    .md-campaign-teaser-B {
      min-height: 283px;
    }

    .md-campaign-teaser-info {
      min-height: 120px;
      margin-top: 14px;
    }

    .md-complexcontent-wrap {
      .md-image {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }

    .md-complexcontent-editmode {
      .md-image {
        position: static;
      }
    }

    .no-js {
      .md-nav {
        transition: min-height .75s cubic-bezier(1, 0, 0, 1);
      }

      .md-nav-shelves-closed {
        &:not(:checked) {
          & ~ .md-nav {
            min-height: 383px;
          }
        }
      }
    }

    .no-touch .md-disabled-hover .md-nav:after, .md-disabled-persist .md-nav:after {
      background-color: #111;
    }

    .md-nav-shelf {
      & > * {
        transition: opacity .375s linear;
        opacity: 0;
      }
    }

    .md-nav-item-nosubnav {
      .md-nav-shelf {
        height: 440px;
        top: -382px;
        transform: translate3d(0, 0, 0);
      }

      &.md-nav-item-level1 {
        [type=radio]:checked {
          & ~ .md-nav-shelf {
            transform: translate3d(0, 440px, 0);
          }
        }
      }
    }

    .md-nav-item-level1 {
      display: block;
      float: left;
      min-height: 57px;
      padding-left: 5px;
      padding-right: 5px;
      vertical-align: top;
      z-index: 15;

      [type=radio]:checked {
        & ~ .md-nav-shelf {
          display: block;
          transform: translate3d(0, 325px, 0);
          z-index: 13;

          .md-nav-item {
            animation: none;
          }
        }
      }

      &:first-child {
        margin-left: 17vw;
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      & > .md-nav-item-link {
        transition: color .3s ease, opacity .3s ease-out;
        font-size: 10px;
        font-size: .625rem;
        font-size: .9765625vw;
        margin: 7px 1px 0;
        padding: 17px 0 3px;
        background-image: none;
        border: 0;
        z-index: 16;
        cursor: pointer;
      }

      &.md-nav-item-current {
        & > .md-nav-item-link {
          border-bottom: 1px solid #000;
          font-weight: 700;

          &:before {
            bottom: 0;
            height: 2px;
            top: auto;
            width: 100%;
            content: none;
          }
        }
      }
    }

    .md-nav-item [type=radio]:focus ~ .md-nav-item-link, .md-nav-item-level1 > .md-nav-item-link:focus {
      outline: 1px dotted #a7a7a7;
    }

    .md-nav-shelves-closed {
      &:not(:checked) {
        & ~ .md-nav {
          .md-nav-item-level1 {
            & > .md-nav-item-link {
              color: #666;

              &:before {
                background-color: #333;
              }
            }
          }
        }
      }
    }

    .md-nav-shelves-closed:not(:checked) ~ .md-nav .md-nav-item-level1 [type=radio]:checked ~ .md-nav-item-link, .md-nav-shelves-closed:not(:checked) ~ .md-nav .md-nav-item-level1 > .md-nav-item-link:hover, .md-nav-shelves-closed:not(:checked) ~ .md-nav .md-nav-item-level1 > .md-nav-item-link:focus {
      color: #000;
    }

    .md-nav-shelves-closed:not(:checked) ~ .md-nav .md-nav-item-level1 [type=radio]:checked ~ .md-nav-item-link:before, .md-nav-shelves-closed:not(:checked) ~ .md-nav .md-nav-item-level1 > .md-nav-item-link:hover:before, .md-nav-shelves-closed:not(:checked) ~ .md-nav .md-nav-item-level1 > .md-nav-item-link:focus:before {
      background-color: #000;
    }

    .md-nav-item-level1 > .md-nav-item-link:hover, .md-nav-item-level1 > .md-nav-item-link:active, .md-nav-item-level1 > .md-nav-item-link:focus {
      background-image: none;
      border-bottom: 1px solid #000;
    }

    .md-nav-item-level2 .md-nav-item-link, .md-nav-item-level2:first-child .md-nav-item-link, .md-nav-item-level2:last-child .md-nav-item-link {
      background: 0;
    }

    .md-nav-item-level2 .md-nav-item-link:focus, .md-nav-item-level2 .md-nav-item-link:hover {
      background: 0;
      color: #fff;
      text-decoration: underline;
    }

    .md-new-range-page .md-nav-ctas, .md-new-range-ctas .md-nav-ctas {
      top: 392px;
    }
