@import '_vars';
@import 'modules/_navbar';
@import 'modules/_cars';
@import 'modules/_video';

body.md-nav-shelfopen body.md-nav-shelfopen .md-footer {
  transform: translate3d(0, 275px, 0);
}

body.md-nav-shelfopen-nosubnav .md-main, body.md-nav-shelfopen-nosubnav .md-footer {
  transform: translate3d(0, 390px, 0);
}

.md-contenttable-scroll-active {
  .md-contenttable-scroll-lead {
    width: 160px;
  }

  .md-contenttable-scroll-main {
    margin-left: 160px;
  }
}

.md-contenttable-leading {
  .md-contenttable-scroll-active {
    .md-contenttable-scroll-lead {
      width: 200px;
    }

    .md-contenttable-scroll-main {
      margin-left: 200px;
    }
  }
}

@import 'modules/_footer'
